<table id="chl_table" border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country_code</th>
      <th>Against</th>
      <th>InFavor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>23</th>
      <td>CHL</td>
      <td>6212.0</td>
      <td>8153.0</td>
    </tr>
  </tbody>
</table>
