<style  type="text/css" >
    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow0_col2 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow1_col2 {
            background-color:  #a9d8df;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow2_col2 {
            background-color:  #c6e6ea;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow3_col2 {
            background-color:  #c9e7ec;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow4_col2 {
            background-color:  #cce8ed;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow5_col2 {
            background-color:  #e1f3f5;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow6_col2 {
            background-color:  #e2f3f6;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow7_col2 {
            background-color:  #e8f6f8;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow8_col2 {
            background-color:  #eaf7f9;
            color:  #000000;
        }    #T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow9_col2 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Nombre Usuario</th>        <th class="col_heading level0 col1" >ID Usuario</th>        <th class="col_heading level0 col2" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >JorgeSharp</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >68917670</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow0_col2" class="data row0 col2" >4335</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >chileconvoca</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >360657563</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow1_col2" class="data row1 col2" >2284</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >Pau_Lightwood</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >1308741487</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow2_col2" class="data row2 col2" >1794</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >ElDepraVillegas</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >886613711108046848</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow3_col2" class="data row3 col2" >1752</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >kikallagher</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >51801059</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow4_col2" class="data row4 col2" >1693</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >german_gcl</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >935687152817410048</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow5_col2" class="data row5 col2" >1338</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >seba_vicencio</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >361594947</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow6_col2" class="data row6 col2" >1309</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >RebecaActivista</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >159513494</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow7_col2" class="data row7 col2" >1208</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >labeasanchez</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >55273142</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow8_col2" class="data row8 col2" >1178</td>
            </tr>
            <tr>
                                <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >carmen_hertz</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >351810153</td>
                        <td id="T_e6bc0cb2_0e30_11ea_a26d_9cb6d0efefebrow9_col2" class="data row9 col2" >1158</td>
            </tr>
    </tbody></table>