<style  type="text/css" >
    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow0_col2 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow1_col2 {
            background-color:  #bae0e6;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow2_col2 {
            background-color:  #d4ecf0;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow3_col2 {
            background-color:  #d9eff2;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow4_col2 {
            background-color:  #e0f2f5;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow5_col2 {
            background-color:  #e0f2f5;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow6_col2 {
            background-color:  #e7f5f8;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow7_col2 {
            background-color:  #eaf7f9;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow8_col2 {
            background-color:  #eaf7f9;
            color:  #000000;
        }    #T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow9_col2 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Nombre Usuario</th>        <th class="col_heading level0 col1" >ID Usuario</th>        <th class="col_heading level0 col2" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >joseantoniokast</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >123955962</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow0_col2" class="data row0 col2" >5980</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >Marcela56837070</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >828299767864295424</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow1_col2" class="data row1 col2" >1974</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >Regia_Pam</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >3221202989</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow2_col2" class="data row2 col2" >1227</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >GiulianaParga</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >1160968707100893184</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow3_col2" class="data row3 col2" >1067</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >oscarcerda56</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >187341721</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow4_col2" class="data row4 col2" >876</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >corrupcionchile</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >3015470117</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow5_col2" class="data row5 col2" >868</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >AtienzaCortes</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >731718493</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow6_col2" class="data row6 col2" >677</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >Politicida74</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >735497999573471232</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow7_col2" class="data row7 col2" >608</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >melnicksergio</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >622098575</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow8_col2" class="data row8 col2" >602</td>
            </tr>
            <tr>
                                <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >JOSERUBIOV</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >96027919</td>
                        <td id="T_e6cfc6da_0e30_11ea_a26d_9cb6d0efefebrow9_col2" class="data row9 col2" >545</td>
            </tr>
    </tbody></table>