<style  type="text/css" >
    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow0_col2 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow1_col2 {
            background-color:  #a7d7de;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow2_col2 {
            background-color:  #b2dce3;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow3_col2 {
            background-color:  #d1ebef;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow4_col2 {
            background-color:  #d5edf1;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow5_col2 {
            background-color:  #d9eff2;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow6_col2 {
            background-color:  #dcf1f4;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow7_col2 {
            background-color:  #e8f6f8;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow8_col2 {
            background-color:  #ebf8f9;
            color:  #000000;
        }    #T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow9_col2 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Nombre Usuario</th>        <th class="col_heading level0 col1" >ID Usuario</th>        <th class="col_heading level0 col2" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >joseantoniokast</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >123955962</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow0_col2" class="data row0 col2" >3698</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >CoquiAngelica</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >384035361</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow1_col2" class="data row1 col2" >1856</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >Marcela56837070</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >828299767864295424</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow2_col2" class="data row2 col2" >1678</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >YasnaCancinoR</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >898358427323441152</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow3_col2" class="data row3 col2" >1190</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >Regia_Pam</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >3221202989</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow4_col2" class="data row4 col2" >1131</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >bravo_barraza</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >1625600418</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow5_col2" class="data row5 col2" >1079</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >oscarcerda56</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >187341721</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow6_col2" class="data row6 col2" >1026</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >TatianaSAV</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >246303646</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow7_col2" class="data row7 col2" >836</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >sebasepuman</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >603625277</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow8_col2" class="data row8 col2" >796</td>
            </tr>
            <tr>
                                <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >GiulianaParga</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >1160968707100893184</td>
                        <td id="T_e6e6d032_0e30_11ea_a26d_9cb6d0efefebrow9_col2" class="data row9 col2" >788</td>
            </tr>
    </tbody></table>