<style  type="text/css" >
    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow0_col2 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow1_col2 {
            background-color:  #41a6b5;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow2_col2 {
            background-color:  #46a8b7;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow3_col2 {
            background-color:  #9dd2da;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow4_col2 {
            background-color:  #9fd3db;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow5_col2 {
            background-color:  #a4d5dd;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow6_col2 {
            background-color:  #b7dfe5;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow7_col2 {
            background-color:  #bee2e8;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow8_col2 {
            background-color:  #ceeaee;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow9_col2 {
            background-color:  #d1ebef;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow10_col2 {
            background-color:  #d9eff2;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow11_col2 {
            background-color:  #daeff3;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow12_col2 {
            background-color:  #daeff3;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow13_col2 {
            background-color:  #dcf0f3;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow14_col2 {
            background-color:  #dff2f5;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow15_col2 {
            background-color:  #e0f2f5;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow16_col2 {
            background-color:  #e2f3f6;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow17_col2 {
            background-color:  #eaf7f9;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow18_col2 {
            background-color:  #eaf7f9;
            color:  #000000;
        }    #T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow19_col2 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Nombre Usuario</th>        <th class="col_heading level0 col1" >ID Usuario</th>        <th class="col_heading level0 col2" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >devilsuser</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >2166025147</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow0_col2" class="data row0 col2" >786</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >segoalexi</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >937868360301400066</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow1_col2" class="data row1 col2" >740</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >MARTYU12469305</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >1062353156229787648</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow2_col2" class="data row2 col2" >727</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >Leppard_vk</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >533499339</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow3_col2" class="data row3 col2" >487</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >Ximenaa87857680</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >783500865525125121</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow4_col2" class="data row4 col2" >481</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >sebasti48627260</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >1125543546986074112</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow5_col2" class="data row5 col2" >466</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >bravo_barraza</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >1625600418</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow6_col2" class="data row6 col2" >415</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >Y_Abugarade</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >927894794180939776</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow7_col2" class="data row7 col2" >393</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >Complic31224123</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >1007099774783381504</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow8_col2" class="data row8 col2" >349</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >virario3</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >4600117642</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow9_col2" class="data row9 col2" >341</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow10_col0" class="data row10 col0" >sapere45</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow10_col1" class="data row10 col1" >190077111</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow10_col2" class="data row10 col2" >321</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow11_col0" class="data row11 col0" >pattycordovely</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow11_col1" class="data row11 col1" >367186898</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow11_col2" class="data row11 col2" >317</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow12_col0" class="data row12 col0" >fcureta</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow12_col1" class="data row12 col1" >460399007</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow12_col2" class="data row12 col2" >317</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow13_col0" class="data row13 col0" >BuruckerR</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow13_col1" class="data row13 col1" >3411779230</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow13_col2" class="data row13 col2" >313</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow14_col0" class="data row14 col0" >juancontreras25</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow14_col1" class="data row14 col1" >117746439</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow14_col2" class="data row14 col2" >303</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow15_col0" class="data row15 col0" >guillegutierrez</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow15_col1" class="data row15 col1" >15273987</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow15_col2" class="data row15 col2" >301</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow16_col0" class="data row16 col0" >yayy21</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow16_col1" class="data row16 col1" >107766323</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow16_col2" class="data row16 col2" >295</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow17_col0" class="data row17 col0" >TeresitaProuvay</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow17_col1" class="data row17 col1" >514499243</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow17_col2" class="data row17 col2" >276</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow18_col0" class="data row18 col0" >GabrielAcevedod</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow18_col1" class="data row18 col1" >2389020365</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow18_col2" class="data row18 col2" >275</td>
            </tr>
            <tr>
                                <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow19_col0" class="data row19 col0" >mjmcaceres</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow19_col1" class="data row19 col1" >1189658065404121089</td>
                        <td id="T_27752cc8_0e38_11ea_a26d_9cb6d0efefebrow19_col2" class="data row19 col2" >270</td>
            </tr>
    </tbody></table>