<style  type="text/css" >
    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col1 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col3 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col4 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col5 {
            background-color:  #bee2e7;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col6 {
            background-color:  #ebf8f9;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col7 {
            background-color:  #bee2e7;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col1 {
            background-color:  #eaf7f9;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col3 {
            background-color:  #c1e4e9;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col4 {
            background-color:  #ebf8f9;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col5 {
            background-color:  #ebf8f9;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col6 {
            background-color:  #d7eef2;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col7 {
            background-color:  #ebf8f9;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col1 {
            background-color:  #ebf8f9;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col3 {
            background-color:  #ebf8f9;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col4 {
            background-color:  #36a0b1;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col5 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col6 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col7 {
            background-color:  #309eaf;
            color:  #000000;
        }</style><table id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Modulo</th>        <th class="col_heading level0 col1" >Coeficiente Apoyo</th>        <th class="col_heading level0 col2" >DesvStd Apoyo</th>        <th class="col_heading level0 col3" >Usuarios Retweets</th>        <th class="col_heading level0 col4" >Usuarios Tweets Originales</th>        <th class="col_heading level0 col5" >Total Retweets</th>        <th class="col_heading level0 col6" >Proporcion: Retweets/Usuarios</th>        <th class="col_heading level0 col7" >% Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >0</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >0.91</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col2" class="data row0 col2" >0.27</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col3" class="data row0 col3" >16228</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col4" class="data row0 col4" >1221</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col5" class="data row0 col5" >46166</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col6" class="data row0 col6" >2.84</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow0_col7" class="data row0 col7" >27.5%</td>
            </tr>
            <tr>
                                <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >1</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >-0.92</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col2" class="data row1 col2" >0.21</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col3" class="data row1 col3" >7961</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col4" class="data row1 col4" >176</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col5" class="data row1 col5" >33347</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col6" class="data row1 col6" >4.19</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow1_col7" class="data row1 col7" >19.8%</td>
            </tr>
            <tr>
                                <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >2</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >-0.94</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col2" class="data row2 col2" >0.18</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col3" class="data row2 col3" >5572</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col4" class="data row2 col4" >1191</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col5" class="data row2 col5" >86035</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col6" class="data row2 col6" >15.44</td>
                        <td id="T_ac7d3d5e_0df5_11ea_a26d_9cb6d0efefebrow2_col7" class="data row2 col7" >51.2%</td>
            </tr>
    </tbody></table>