<style  type="text/css" >
    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow0_col1 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow1_col1 {
            background-color:  #37a1b1;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow2_col1 {
            background-color:  #46a8b7;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow3_col1 {
            background-color:  #59b1bf;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow4_col1 {
            background-color:  #5ab2bf;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow5_col1 {
            background-color:  #c8e7eb;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow6_col1 {
            background-color:  #cee9ee;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow7_col1 {
            background-color:  #d9eff2;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow8_col1 {
            background-color:  #def1f4;
            color:  #000000;
        }    #T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow9_col1 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Texto del Tweet</th>        <th class="col_heading level0 col1" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >RT @joseantoniokast: Alcalde desesperado frente a realidad que lo golpea. Valparaiso está en el suelo y él sigue convocando a marchas y asa…</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >708</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >RT @corrupcionchile: VIDEO | #FueraSharp: exigen la renuncia de Jorge Sharp luego de viralizarse video donde aparece agitando a las masas d…</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >702</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >RT @GiulianaParga: El propio alcalde de Valparaiso llamando a quemar y saquear casas, pymes  y pequeños negocios esto ya sobrepasó todo lím…</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >688</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >RT @Marcela56837070: Maduro, el PC, el PS y el FA están con ataque de neurosis. Se les cae el plan. Sigamos.
#NOaLaAsambleaConstituyente
#E…</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >671</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >RT @Marcela56837070: Los descubrimos que están adoctrinando a la gente en los "cabildos" esa cuestión no se hace. Atento @gblumel vean la f…</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >670</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >RT @joseantoniokast: La incompetencia de un Alcalde que le quedó grande el cargo. Primero no quería a Estado de Emergencia; después llamaba…</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >570</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >RT @Pily88Priscila: No quiero que Valparaíso sea la sede de tu agenda chavista #fueraSharp</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >565</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >RT @Politicida74: Observen detenidamente este rostro:

-Es el de un Burgués Progre que sacó la carrera de Derecho en 14 años.
-Pelotudo que…</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >555</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >RT @AtienzaCortes: VIDEO | #FueraSharp: exigen la renuncia de Jorge Sharp luego de viralizarse video donde aparece agitando a las masas de…</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >550</td>
            </tr>
            <tr>
                                <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >RT @JOSERUBIOV: 100 mil van!!! Vamos por los 500 mil ahora!!! #fueraSharp</td>
                        <td id="T_cac224c8_0e36_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >538</td>
            </tr>
    </tbody></table>