<style  type="text/css" >
    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow0_col2 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow1_col2 {
            background-color:  #64b7c3;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow2_col2 {
            background-color:  #67b8c5;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow3_col2 {
            background-color:  #79c1cc;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow4_col2 {
            background-color:  #8ac9d3;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow5_col2 {
            background-color:  #91ccd5;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow6_col2 {
            background-color:  #91ccd5;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow7_col2 {
            background-color:  #95ced7;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow8_col2 {
            background-color:  #98d0d8;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow9_col2 {
            background-color:  #98d0d8;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow10_col2 {
            background-color:  #a3d5dc;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow11_col2 {
            background-color:  #addae0;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow12_col2 {
            background-color:  #c9e7ec;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow13_col2 {
            background-color:  #d3ecf0;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow14_col2 {
            background-color:  #d3ecf0;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow15_col2 {
            background-color:  #d3ecf0;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow16_col2 {
            background-color:  #e1f3f5;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow17_col2 {
            background-color:  #e4f4f7;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow18_col2 {
            background-color:  #e8f6f8;
            color:  #000000;
        }    #T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow19_col2 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Nombre Usuario</th>        <th class="col_heading level0 col1" >ID Usuario</th>        <th class="col_heading level0 col2" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >melnicksergio</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >622098575</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow0_col2" class="data row0 col2" >109</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >GusandesGus</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >993646544640409601</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow1_col2" class="data row1 col2" >94</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >saturnoyang</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >111632191</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow2_col2" class="data row2 col2" >93</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >Eacor</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >82962425</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow3_col2" class="data row3 col2" >88</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >Jermansantos</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >145664038</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow4_col2" class="data row4 col2" >83</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >saudy_vaza</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >2366246069</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow5_col2" class="data row5 col2" >81</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >SaludNatural_L5</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >734200361142132736</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow6_col2" class="data row6 col2" >81</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >AtienzaCortes</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >731718493</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow7_col2" class="data row7 col2" >80</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >batmanpatriota</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >1187909925814575106</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow8_col2" class="data row8 col2" >79</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >Marcela56837070</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >828299767864295424</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow9_col2" class="data row9 col2" >79</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow10_col0" class="data row10 col0" >fontapod</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow10_col1" class="data row10 col1" >65033429</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow10_col2" class="data row10 col2" >76</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow11_col0" class="data row11 col0" >ramon95843456</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow11_col1" class="data row11 col1" >962393234830917632</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow11_col2" class="data row11 col2" >73</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow12_col0" class="data row12 col0" >ravenvina</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow12_col1" class="data row12 col1" >119543410</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow12_col2" class="data row12 col2" >65</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow13_col0" class="data row13 col0" >glorianaveillan</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow13_col1" class="data row13 col1" >39144692</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow13_col2" class="data row13 col2" >62</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow14_col0" class="data row14 col0" >Caroefi80</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow14_col1" class="data row14 col1" >917903449177690114</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow14_col2" class="data row14 col2" >62</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow15_col0" class="data row15 col0" >Molotov1947</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow15_col1" class="data row15 col1" >2472055539</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow15_col2" class="data row15 col2" >62</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow16_col0" class="data row16 col0" >tequierofeliz</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow16_col1" class="data row16 col1" >120954002</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow16_col2" class="data row16 col2" >58</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow17_col0" class="data row17 col0" >lugadicon</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow17_col1" class="data row17 col1" >2908719353</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow17_col2" class="data row17 col2" >57</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow18_col0" class="data row18 col0" >BermorMercedes</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow18_col1" class="data row18 col1" >939671172</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow18_col2" class="data row18 col2" >56</td>
            </tr>
            <tr>
                                <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow19_col0" class="data row19 col0" >lf_cortes</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow19_col1" class="data row19 col1" >1124127739387219968</td>
                        <td id="T_275ba1c2_0e38_11ea_a26d_9cb6d0efefebrow19_col2" class="data row19 col2" >55</td>
            </tr>
    </tbody></table>