<style  type="text/css" >
    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow0_col1 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow1_col1 {
            background-color:  #addae0;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow2_col1 {
            background-color:  #c8e7eb;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow3_col1 {
            background-color:  #d0ebef;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow4_col1 {
            background-color:  #dcf0f3;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow5_col1 {
            background-color:  #dff2f5;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow6_col1 {
            background-color:  #e2f3f6;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow7_col1 {
            background-color:  #e4f4f7;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow8_col1 {
            background-color:  #e9f6f9;
            color:  #000000;
        }    #T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow9_col1 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Texto del Tweet</th>        <th class="col_heading level0 col1" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >RT @joseantoniokast: Alcalde desesperado frente a realidad que lo golpea. Valparaiso está en el suelo y él sigue convocando a marchas y asa…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >1364</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >RT @GiulianaParga: El propio alcalde de Valparaiso llamando a quemar y saquear casas, pymes  y pequeños negocios esto ya sobrepasó todo lím…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >1003</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >RT @joseantoniokast: Lo que necesita Valparaiso es más empleo, seguridad, salud y orden. No una asamblea chavista #fueraSharp https://t.co/…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >926</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >RT @Marcela56837070: Maduro, el PC, el PS y el FA están con ataque de neurosis. Se les cae el plan. Sigamos.
#NOaLaAsambleaConstituyente
#E…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >902</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >RT @corrupcionchile: VIDEO | #FueraSharp: exigen la renuncia de Jorge Sharp luego de viralizarse video donde aparece agitando a las masas d…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >868</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >RT @joseantoniokast: La incompetencia de un Alcalde que le quedó grande el cargo. Primero no quería a Estado de Emergencia; después llamaba…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >858</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >RT @Marcela56837070: Los descubrimos que están adoctrinando a la gente en los "cabildos" esa cuestión no se hace. Atento @gblumel vean la f…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >852</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >RT @joseantoniokast: “El Alcalde no es de Valparaíso, por eso no ama Valparaiso. Le da lo mismo” #fueraSharp #RenunciaSharp https://t.co/Jy…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >844</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >RT @Regia_Pam: Amigos... cuando vean su ciudad destrozada, saqueada y mires a tu alrededor y veas basura ...recuerda esta imagen 
#FueraSha…</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >831</td>
            </tr>
            <tr>
                                <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >RT @joseantoniokast: Que venga el Alcalde y de la cara. Ni más ni menos. #RenunciaSharp #FueraSharp #Valparaiso https://t.co/gKFs3b0K2I</td>
                        <td id="T_caa61b70_0e36_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >823</td>
            </tr>
    </tbody></table>