<style  type="text/css" >
    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow0_col1 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow1_col1 {
            background-color:  #c1e4e9;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow2_col1 {
            background-color:  #c6e6eb;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow3_col1 {
            background-color:  #dbf0f3;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow4_col1 {
            background-color:  #e3f4f6;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow5_col1 {
            background-color:  #e4f4f7;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow6_col1 {
            background-color:  #e5f5f7;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow7_col1 {
            background-color:  #eaf7f9;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow8_col1 {
            background-color:  #eaf7f9;
            color:  #000000;
        }    #T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow9_col1 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Texto del Tweet</th>        <th class="col_heading level0 col1" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >RT @JorgeSharp: Durante la tarde comenzó una operación de la derecha en tuiter. Sabíamos que había alguien detrás hasta que lo encontramos.…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >4335</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >RT @Pau_Lightwood: Estoy harta de leer a gente que jamás ha pisado Valpo pelando a Sharp, es el único alcalde de Valpo que ha demostrado pr…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >1792</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >RT @kikallagher: Te molesta el saqueo? Jorge Castro dejó un déficit de 20mil millones de pesos en la muni de Valpo. Había una licitación po…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >1693</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >RT @german_gcl: Tanto santiaguino ahueonao hablando mal de Sharp pero cuando estaba Castro (UDI) robando millones estaban calladitos.
Sharp…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >1338</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >RT @RebecaActivista: “Esto no prendió” 😄 El perro “Matapacos” Icono de #EvasionMasiva  la idea repercutió en #NewYork 🇨🇱 
#LaMarchaMasGrand…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >1197</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >RT @labeasanchez: Porque escucha, porque no le tiene miedo a construir con la gente, porque esta cambiándole el rostro a Valparaíso, porque…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >1178</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >RT @carmen_hertz: Toda mi solidaridad y cariño al admirable @JorgeSharp , la jauría de bots de la extrema derecha no nos amedrentarán #Agua…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >1158</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >RT @CristobalOjedaV: Valparaíso y su alcaldía ciudadana logró reducir 6.824 millones el déficit que dejaron los fachos, pero claro, ahora e…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >1085</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >RT @seba_vicencio: #AguanteSharp | Ayer el alcalde @JorgeSharp anunció que Valparaíso podría ser la 1º comuna del país en realizar un plebi…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >1065</td>
            </tr>
            <tr>
                                <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >RT @RevolucionBomb1: Los Bomberos Revolucionarios decimos fuerte y claro #AguanteSharp !!!

Gracias por todo el apañe que has dado a los Bo…</td>
                        <td id="T_ca944d0a_0e36_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >1048</td>
            </tr>
    </tbody></table>