<style  type="text/css" >
    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow0_col2 {
            background-color:  #309eaf;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow1_col2 {
            background-color:  #8ecbd4;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow2_col2 {
            background-color:  #addae0;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow3_col2 {
            background-color:  #b3dce3;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow4_col2 {
            background-color:  #b7dfe5;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow5_col2 {
            background-color:  #b9e0e5;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow6_col2 {
            background-color:  #bee2e8;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow7_col2 {
            background-color:  #c3e4e9;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow8_col2 {
            background-color:  #cbe8ed;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow9_col2 {
            background-color:  #ceeaee;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow10_col2 {
            background-color:  #ceeaee;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow11_col2 {
            background-color:  #cfeaee;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow12_col2 {
            background-color:  #def1f4;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow13_col2 {
            background-color:  #def1f4;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow14_col2 {
            background-color:  #e3f4f6;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow15_col2 {
            background-color:  #e3f4f6;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow16_col2 {
            background-color:  #e6f5f7;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow17_col2 {
            background-color:  #e8f6f8;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow18_col2 {
            background-color:  #e8f6f8;
            color:  #000000;
        }    #T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow19_col2 {
            background-color:  #ebf8f9;
            color:  #000000;
        }</style><table id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefeb" ><thead>    <tr>        <th class="col_heading level0 col0" >Nombre Usuario</th>        <th class="col_heading level0 col1" >ID Usuario</th>        <th class="col_heading level0 col2" >Cantidad Retweets</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow0_col0" class="data row0 col0" >PilarSaavedraC1</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow0_col1" class="data row0 col1" >3006457929</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow0_col2" class="data row0 col2" >360</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow1_col0" class="data row1 col0" >MasionMediagua</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow1_col1" class="data row1 col1" >3294166805</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow1_col2" class="data row1 col2" >220</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow2_col0" class="data row2 col0" >wendhydi</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow2_col1" class="data row2 col1" >2373139759</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow2_col2" class="data row2 col2" >174</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow3_col0" class="data row3 col0" >mjlarrondo</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow3_col1" class="data row3 col1" >2552039589</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow3_col2" class="data row3 col2" >165</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow4_col0" class="data row4 col0" >LucianoFavreau</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow4_col1" class="data row4 col1" >725263310</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow4_col2" class="data row4 col2" >159</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow5_col0" class="data row5 col0" >Ricardo84494513</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow5_col1" class="data row5 col1" >1126564270219644928</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow5_col2" class="data row5 col2" >156</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow6_col0" class="data row6 col0" >Solluminoso1</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow6_col1" class="data row6 col1" >1186704277563158528</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow6_col2" class="data row6 col2" >148</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow7_col0" class="data row7 col0" >netbelsw</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow7_col1" class="data row7 col1" >158417932</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow7_col2" class="data row7 col2" >142</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow8_col0" class="data row8 col0" >marisajim</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow8_col1" class="data row8 col1" >156156348</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow8_col2" class="data row8 col2" >129</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow9_col0" class="data row9 col0" >____Nani____</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow9_col1" class="data row9 col1" >3041065163</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow9_col2" class="data row9 col2" >124</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow10_col0" class="data row10 col0" >constan72145789</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow10_col1" class="data row10 col1" >1054581325502537728</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow10_col2" class="data row10 col2" >124</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow11_col0" class="data row11 col0" >gamiapra</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow11_col1" class="data row11 col1" >151921420</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow11_col2" class="data row11 col2" >123</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow12_col0" class="data row12 col0" >catalanleighton</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow12_col1" class="data row12 col1" >118883326</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow12_col2" class="data row12 col2" >101</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow13_col0" class="data row13 col0" >ArtemisSebasti1</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow13_col1" class="data row13 col1" >1185989830674714625</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow13_col2" class="data row13 col2" >101</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow14_col0" class="data row14 col0" >Andre_roman_o</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow14_col1" class="data row14 col1" >163369681</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow14_col2" class="data row14 col2" >93</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow15_col0" class="data row15 col0" >Cazuelator</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow15_col1" class="data row15 col1" >3332645571</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow15_col2" class="data row15 col2" >93</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow16_col0" class="data row16 col0" >Maur18620802</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow16_col1" class="data row16 col1" >1031327595227430912</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow16_col2" class="data row16 col2" >89</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow17_col0" class="data row17 col0" >carlameyer_a</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow17_col1" class="data row17 col1" >118247721</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow17_col2" class="data row17 col2" >86</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow18_col0" class="data row18 col0" >Paulogomezp</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow18_col1" class="data row18 col1" >96652785</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow18_col2" class="data row18 col2" >86</td>
            </tr>
            <tr>
                                <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow19_col0" class="data row19 col0" >DickrockG</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow19_col1" class="data row19 col1" >1363095780</td>
                        <td id="T_2745ab06_0e38_11ea_a26d_9cb6d0efefebrow19_col2" class="data row19 col2" >81</td>
            </tr>
    </tbody></table>